@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-all {
    @apply m-2 w-full rounded-full;
  }
  .btn-primary {
    @apply btn-all bg-gradient-to-tr from-blue-800 via-blue-800 to-blue-600 px-4 py-2 font-semibold text-white transition duration-200 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .btn-primary-discrete {
    @apply btn-all bg-gradient-to-tr from-slate-600 via-slate-600 to-slate-600 px-4 py-2 font-semibold text-white transition duration-200 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .btn-secondary {
    @apply btn-all border border-blue-800 bg-gradient-to-tr from-slate-50 via-white to-white px-4 py-2 font-semibold text-blue-900 transition duration-200 hover:bg-slate-300 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .btn-action {
    @apply mx-0.5 w-fit rounded-full border border-slate-500 bg-white text-slate-500 hover:bg-slate-500 hover:text-white;
  }
  .link-primary {
    @apply btn-primary px-0 py-0;
  }
  .link-secondary {
    @apply btn-secondary px-0 py-0;
  }

  .btn-disable {
    @apply btn-all bg-slate-300 px-4 py-2 font-semibold text-slate-200 hover:bg-color-tertiary focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .instruction-label {
    @apply mb-3 w-full text-start font-semibold text-slate-700;
  }
  .container-main-webapp {
    @apply mt-[64px] flex flex-grow flex-col items-center px-6 text-center;
  }
  .container-webapp-size {
    @apply flex h-full w-full max-w-xl;
  }
  .container-page-webapp {
    @apply container-webapp-size my-6 flex-col items-center rounded-2xl bg-gradient-to-tr from-slate-100 via-slate-100 to-slate-50 px-16 pb-16 pt-8;
  }
  .container-subpage-webapp {
    @apply flex w-full flex-col items-center;
  }
  .card-webapp {
    @apply h-full rounded-2xl border border-slate-200 bg-white shadow;
  }

  .input-text {
    @apply mb-4 mt-1 flex w-full items-center rounded-2xl border border-slate-300 bg-white px-3 py-2 text-sm placeholder-slate-400 shadow-sm
    invalid:border-pink-500 invalid:text-pink-600 focus:border-sky-500 focus:outline-none
    focus:ring-1 focus:ring-sky-500 focus:invalid:border-pink-500 focus:invalid:ring-pink-500
    disabled:border-slate-200 disabled:bg-slate-50
    disabled:text-slate-500 disabled:shadow-none;
  }

  .header-menu-item-current-page {
    @apply border bg-blue-800 text-white;
  }
  .header-menu-items {
    @apply rounded-full px-1 py-0.5 text-white hover:bg-blue-900 hover:brightness-150 md:mx-1;
  }
  .stepper-is-done-icon {
    @apply bg-blue-800 text-white;
  }
  .stepper-is-done-bar {
    @apply after:border-blue-700;
  }
  .stepper-is-waiting-icon {
    @apply bg-slate-300 text-white;
  }
  .stepper-is-waiting-bar {
    @apply after:border-slate-300;
  }
  .bike-type-chooser-item {
    @apply cursor-pointer rounded-2xl bg-slate-200 font-bold text-slate-500 hover:bg-slate-100 hover:text-blue-500 peer-checked:rounded-b-2xl peer-checked:border-blue-600 peer-checked:bg-white peer-checked:font-black peer-checked:text-blue-600;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-mesh-part-1 {
  clip-path: polygon(
    74.1% 44.1%,
    100% 61.6%,
    97.5% 26.9%,
    85.5% 0.1%,
    80.7% 2%,
    72.5% 32.5%,
    60.2% 62.4%,
    52.4% 68.1%,
    47.5% 58.3%,
    45.2% 34.5%,
    27.5% 76.7%,
    0.1% 64.9%,
    17.9% 100%,
    27.6% 76.8%,
    76.1% 97.7%,
    74.1% 44.1%
  );
}
.background-mesh-part-2 {
  clip-path: polygon(
    74.1% 44.1%,
    100% 61.6%,
    97.5% 26.9%,
    85.5% 0.1%,
    80.7% 2%,
    72.5% 32.5%,
    60.2% 62.4%,
    52.4% 68.1%,
    47.5% 58.3%,
    45.2% 34.5%,
    27.5% 76.7%,
    0.1% 64.9%,
    17.9% 100%,
    27.6% 76.8%,
    76.1% 97.7%,
    74.1% 44.1%
  );
}
