@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-app-size {
    @apply max-w-xl;
  }
  .bg-component-color {
    @apply bg-slate-100;
  }

  .header-menu-item-current-page {
    @apply border bg-blue-800 text-white hover:to-blue-800;
  }

  /* ---------------------------- Buttons and links --------------------------- */
  .btn-primary {
    @apply my-2 w-full rounded-full bg-gradient-to-tr from-blue-800 via-blue-800 to-blue-600 px-4 py-2 font-semibold text-white transition duration-200 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .btn-secondary {
    @apply my-2 w-full rounded-full border border-blue-800 bg-gradient-to-tr from-slate-50 via-white to-white px-4 py-2 font-semibold text-blue-900 transition duration-200 hover:bg-slate-300 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .link-primary {
    @apply btn-primary px-0 py-0;
  }
  .link-secondary {
    @apply btn-secondary px-0 py-0;
  }
  /* -------------------------------------------------------------------------- */

  /* --------------------------------- Stepper -------------------------------- */
  .stepper-icon-is-done {
    @apply bg-blue-800 text-white;
  }
  .stepper-bar-is-done {
    @apply after:border-blue-700;
  }
  .stepper-icon-is-waiting {
    @apply bg-slate-300 text-white;
  }
  .stepper-bar-is-waiting {
    @apply after:border-slate-300;
  }
}
/* -------------------------------------------------------------------------- */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
