@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-app-size {
    @apply max-w-[46rem];
  }
  .bg-component-color {
    @apply bg-slate-100;
  }

  .header-menu-item-current-page {
    @apply border bg-blue-800 text-white hover:bg-blue-700;
  }

  /* ---------------------------- Buttons and links --------------------------- */
  .btn-primary {
    @apply w-full shadow-lg rounded-full bg-blue-600 p-2 font-semibold text-white transition-all hover:bg-blue-700 hover:shadow-xl focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 focus:shadow-inner;
  }
  .btn-secondary {
    @apply w-full rounded-full shadow-lg border border-slate-300 bg-white px-4 py-2 font-semibold text-slate-700 transition-all hover:bg-slate-100 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .link-primary {
    @apply btn-primary px-0 py-0;
  }
  .link-secondary {
    @apply btn-secondary px-0 py-0;
  }
  /* -------------------------------------------------------------------------- */

  /* --------------------------------- Stepper -------------------------------- */
  .stepper-icon-is-waiting {
    @apply bg-slate-400 text-white;
  }
  .stepper-icon-is-done {
    @apply bg-blue-800 text-white;
  }
  .stepper-bar-is-waiting {
    @apply after:border-slate-400;
  }
  .stepper-bar-is-done {
    @apply after:border-blue-700;
  }
}
/* -------------------------------------------------------------------------- */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bottom-nav-container {
  box-shadow: 0px -2px 30px rgba(0, 0, 0, 0.3);
}

.background-mash-noise-light {
  background-color: hsla(263, 80%, 20%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(238, 100%, 64%, 0.77) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(230, 100%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(240, 100%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 70% 50%, hsla(236, 100%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 0%, hsla(230, 100%, 64%, 0.8) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(240, 100%, 64%, 0.8) 0px, transparent 50%),
    radial-gradient(at 85% 94%, hsla(239, 100%, 64%, 1) 0px, transparent 50%);
}

.background-mash-noise-light::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/noise-bg-05.png");
  background-size: 300px;
  pointer-events: none;
}

.background-mash-noise-dark {
  background-color: hsla(263, 80%, 5%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(244, 70%, 10%, 0.77) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(189, 100%, 10%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(260, 100%, 15%, 1) 0px, transparent 50%),
    radial-gradient(at 60% 50%, hsla(240, 100%, 15%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 0%, hsla(200, 100%, 20%, 0.6) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(240, 50%, 8%, 0.62) 0px, transparent 50%),
    radial-gradient(at 85% 94%, hsla(239, 100%, 10%, 1) 0px, transparent 50%);
}


.background-solid-noise {
  background-image: url("/noise-bg-05.png");
  background-size: 300px;
}

.background-solid-noise-dark {
  background-image: url("/noise-bg-05.png");
  background-color: gray;
}
