@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply my-2 py-2 px-4 w-full bg-blue-700 text-white font-semibold rounded-full shadow-md hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .btn-return {
    @apply my-2 py-2 px-4 w-full bg-white border  border-gray-200 text-color-primary font-semibold rounded-full shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 focus:z-10;
  }

  .btn-disable {
    @apply my-2 py-2 px-4 w-full bg-gray-300 text-gray-200 font-semibold rounded-full shadow-md hover:bg-color-tertiary focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .card-layout {
    @apply min-w-min w-full lg:w-11/12 max-w-xl bg-gray-50 rounded-b-xl p-0 shadow background-transparent;
  }
  .card-layout-secondary {
    @apply bg-white border border-gray-200 rounded-xl shadow;
  }
  .card-layout-availability {
    @apply w-full m-6 p-6 bg-white border border-gray-200 rounded-xl shadow;
  }
  .input-text {
    @apply mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
    invalid:border-pink-500 invalid:text-pink-600
    focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
}

:root {
  --color-primary: #194c9e;
  --color-primary-hover: #2459af;
  /* --color-primary: #385e9d; */
  --color-primary-dark: #222331;
  --color-secondary: #fa4616;
  --color-tertiary: #bcbcbc;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #385E9D;
    --color-primary-dark: #222331;
    --color-secondary: #FA4616;
    --color-tertiary: #BCBCBC;
  }
} */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.background-mesh {
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 26% 49%,
      hsla(0, 0%, 100%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 51% 18%, hsla(105, 0%, 100%, 0.63) 0px, transparent 50%),
    radial-gradient(at 75% 31%, hsla(208, 59%, 70%, 0.52) 0px, transparent 50%),
    radial-gradient(at 48% 46%, hsla(198, 62%, 63%, 0.98) 0px, transparent 50%),
    radial-gradient(at 10% 51%, hsla(256, 0%, 100%, 0.76) 0px, transparent 50%),
    radial-gradient(at 27% 18%, hsla(208, 100%, 71%, 0.87) 0px, transparent 50%),
    radial-gradient(at 96% 8%, hsla(256, 0%, 100%, 0.76) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(0, 0%, 100%, 0.55) 0px, transparent 50%),
    radial-gradient(at 85% 76%, hsla(206, 80%, 76%, 0.76) 0px, transparent 50%);
  width: 100%;
  height: 100vh;
}
.background-transparent {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a drop shadow for depth */
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.disable-link {
  pointer-events: none;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.infobox-container {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
